# Easier navigation: .., ..., ...., ....., ~ and -
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Get week number
alias week='date +%V'

# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"


alias gs='git status '
alias ga='git add '
alias gb='git branch '
alias gc='git commit'
alias gd='git diff'
alias go='git checkout '
alias gk='gitk --all&'
alias gx='gitx --all'

alias got='git '
alias get='git '

# nice directory listing
alias l="ls -Glah"
alias la='ls -al'
alias ll='ls -lth'
alias ls='ls -F'

alias rm='rm -i'
alias wip='git add . && git commit -m WIP && git push ${DEFAULT_GIT_REMOTE} $(just_git_branch)'

# nice directory tree listing showing permissions, user, group and size (human readable)
alias t="tree -L 1 --dirsfirst -shugp"
# nice directory tree listing, but just 2 levels
alias tt="tree -L 2 --dirsfirst"


# Reload the shell (i.e. invoke as a login shell)
alias reload="exec ${SHELL} -l"

# Print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# snapshots, remove later
alias dka='docker kill $(docker ps -q)  && . venv3/bin/activate'
alias cs='. venv3/bin/activate && rm -rf docker/postgres/data/* && ./scripts/docker_postgres.sh run-local'
alias isd='. venv3/bin/activate&& psql --user platoapp --host 127.0.0.1 -d platoapp_dev < docker/postgres/latest-dump'